<html>

<head>
	<title>Edit Genre</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption><strong> Editing Genre: </strong></caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>
        <p>&nbsp;</p>
        <div id="edit">
            <!-- form to edit data in Genre-->
            <form id="editGenre" action="/edit_genre/{{data[0].genreID}}" method="post">
                <legend><strong>Edit Genre</strong></legend>
                <fieldset>
                    <input type="hidden" value="{{data[0].genreID}}" class="form-control" id="genreID" name="genreID" required>

                    <label for="make"> description </label>
                    <input type="text" value="{{data[0].description}}" class="form-control" id="description" name="description" required>
                </fieldset>
                <input type="submit" value="Edit Genre" name="Edit_Genre" class="btn btn-primary" style="margin:.5rem;">
                <a href='/genres'><input class="btn" type="button" value="Cancel"></a>
            </form>

</html>