<html>

<head>
    <title>Streaming Platform Reviews</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
</head>

<body>
    <h1>Streaming Platform Reviews</h1>
    <nav>
        <a href="/ ">Home</a> |
        <a href="shows">Shows</a> |
        <a href="platforms">Platforms</a> |
        <a href="showsonplatforms">ShowsOnPlatforms</a> |
        <a href="users">Users</a> |
        <a href="reviews">Reviews</a> |
        <a href="contenttypes">ContentTypes</a> |
        <a href="genres">Genres</a> |
    </nav>
    <p>&nbsp;</p>
    <div>
        You can search which shows are on each of the streaming platforms!
        You can also do things like add shows and edit users!
    </div>

</body>

</html>